# server configuration
# Env value : production || staging || development
APP_ENV=development
APP_PORT=8080
API_KEY=API_KEY

# database configuration
DB_HOST=localhost # docker-compose service name or localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=123456
DB_NAME=thera_be

# JWT
JWT_SECRET_KEY=thisisasamplesecret
JWT_EXP_TIME=8h

# Redis configuration
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=password

# GOMAIL configuration options for the email service
GOMAIL_HOST=smtp-relay
GOMAIL_SENDER_EMAIL=noreply@thera.id
GOMAIL_SENDER_NAME="Thera"
GOMAIL_PORT=587
GOMAIL_USERNAME=
GOMAIL_PASSWORD=

# AWS S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# R2
R2_ACCOUNT_ID=
